.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    text-align: center;
    gap: 10px;
}

.main div{
    display: grid;
    align-items: center;
    font-size: 22px;
    height: auto;
    width: auto;
}

    .main div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: blueviolet;
}

.main div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: coral;
    
}

.main div:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
    height: 100px;
    background-color: cadetblue;
}

.main div:nth-child(4){
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100px;
    background-color: darkorange;
}

.main div:nth-child(5){
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: blue;
}

.main div:nth-child(6){
    grid-column: 1/2;
    grid-row: 3/3;
    height: 100px;
    background-color: coral;
}
