.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 15px;
    gap: 10px;
}

.main div{
    background-color: greenyellow;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.main div:nth-child(1){
    grid-column: 1 / 13;
}

.main div:nth-child(2){
    grid-column: 1 / 7;
}

.main div:nth-child(3){
    grid-column: 7 / 13;
}

.main div:nth-child(4){
    grid-column: 1 / 5;
}

.main div:nth-child(5){
    grid-column: 5 / 9;
}

.main div:nth-child(6){
    grid-column: 9 / 13;
}

.main div:nth-child(7){
    grid-column: 1 / 4;
}

.main div:nth-child(8){
    grid-column: 4 / 7;
}

.main div:nth-child(9){
    grid-column: 7 / 10;
}

.main div:nth-child(10){
    grid-column: 10 / 13;
}

.main div:nth-child(11){
    grid-column: 1 / 3;
}

.main div:nth-child(12){
    grid-column: 3 / 5;
}

.main div:nth-child(13){
    grid-column: 5 / 7;
}

.main div:nth-child(14){
    grid-column: 7 / 9;
}

.main div:nth-child(15){
    grid-column: 9 / 11;
}

.main div:nth-child(16){
    grid-column: 11 / 13;
}