body {
    background: #0f0f0f;
    margin: 0;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
        text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    margin: 70px;
    grid-auto-flow: row dense;
}

.item {
    background: orange;
    display: grid;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 3px;
}

.item1 {
    grid-column: 1/5;
    height: 100px;
}

.item:nth-child(2){
    grid-column: 5/ 7;
    height: 100px;
}

.item:nth-child(3){
    grid-column: 1/ 3;
    height: 100px;
}

.item:nth-child(4){
    grid-column: 3/ 5;
    height: 100px;
}

.item:nth-child(5){
    grid-column: 5/ 7;
    height: 100px;
}

.item:nth-child(6){
    grid-column: 1/ 7;
    height: 100px;
}
