body {
    background: #0f0f0f;
    margin: 0;
    font-family: Georgia, serif;
    color: white;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
        text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-auto-flow: row dense;
}

.item {
    background: #40e0d0;
    display: grid;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 3px;
}

.item1 {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100px;
}

.item:nth-child(3){
    grid-row: 1/3;
    grid-column: 4/ 6;
    height: 100px;
}

.item:nth-child(4){
    grid-column: 1/3;
}
